* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ddd;
  --secondary-color: #333;
}

.dark-mode {
  --primary-color: #000106;
  --secondary-color: #fff;
}

img {
  width: 100%;
}

body {
  background-color: var(--primary-color);
  font-size: 18px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "hero hero hero feature-1"
    "hero hero hero feature-2"
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(assets/2022-10-09.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  text-shadow: 2px -4px 2px black;
}

.hero > * {
  display: none;
}

.features {
  background-color: var(--primary-color);
  color: #ddd;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(assets/vietnam-drip.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(assets/cirengisi.jpeg);
  background-size: cover;
}


.features .produk {
  font-weight: 200;
  font-size: 3em;
}

.produk{
  text-shadow: 2px -4px 2px black;
}

.bestSeller {
  text-shadow: 1px -2px 1px black;
}

/* Navigasi */
.menu {
  display: grid;
  grid-template-columns: 1fr 2fr 0.2fr;
  align-items: center;
  order: -1;
}

nav ul {
  flex: 1;
  text-align: right;
}

#dark {
  width: 30px;
  cursor: pointer;
  justify-self: end;
}

/* carousel */
.carousel {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  color: var(--secondary-color);
}

/* latte */
.latte-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.latte {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.latte img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.latte-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.latte-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.latte-nav a:hover {
  opacity: 1;
}

/* kopi */
.kopi-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.kopi {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.kopi img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.kopi-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.kopi-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.kopi-nav a:hover {
  opacity: 1;
}

/* moctail */
.moctail-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.moctail {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.moctail img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.moctail-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.moctail-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.moctail-nav a:hover {
  opacity: 1;
}

.menu .brand {
  font-size: 1.3em;
  color: var(--secondary-color);
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 30px;
  text-transform: uppercase;
  font-size: 1em;
}

.menu a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
  padding: 10px;
} 

.menu ul li {
  cursor: pointer;
}

.menu ul li .home:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
  border-radius: 5px;
}

.menu ul li .product:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
  border-radius: 5px;
}

.menu ul li .about:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
  border-radius: 5px;
}

.menu ul li .gallery:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
  border-radius: 5px;
}

/* srcset */
.srcset {
  display: flex;
  gap: 20px;
}

/* form */
.form-section {
  display: flex;
  justify-self: center;
  color: var(--secondary-color);
}

.field {
  border-color: var(--secondary-color);
  border-radius: 10px;
}

.join {
  margin: 20px 10px;
  border-style: none;
}

.name {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#fullname {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

#email {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

#rank-select {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

#textarea {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.email {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.playdota {
  margin: 20px auto;
}

.have {
  margin-bottom: 10px;
}

.addinform {
  margin: 20px 10px;
  border-style: none;
}

.rank {
  display: flex;
  flex-direction: column;
}

.rank p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rank select {
  margin-top: 10px;
  margin-bottom: 15px;
}

.wdyt {
  margin-bottom: 15px;
}

.wdyt p {
  margin-bottom: 10px;
}

.tellus {
  margin-bottom: 15px;
}

.tellus p {
  margin-bottom: 10px;
}

.upload {
  margin-bottom: 15px;
}

.upload p {
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

/* hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 3px;
  transition: all 0.5s;
}

/* burger animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* responsive breakpoints */
@media screen and (max-width: 1024px) {
  .menu {
    grid-template-columns: 1fr 0.1fr;
  }
  .menu .brand {
    display: none;
  }
  .hero > * {
    display: block;
    color: #ddd;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }
  
  .menu-toggle {
    display: flex;
  }

  header {
  }

  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translatey(0);
  }

  .carousel {
    flex-direction: column;
  }

  .srcset {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 25px;
  }

  .menu {
    grid-template-columns: 1fr 0.1fr;
  }

  .header {
    grid-template-areas: 
    'hero'
    'feature-1'
    'feature-2';
  }

  .features {
    height: 200px;
  }

  .carousel {
    flex-direction: column;
  }
  .srcset {
    flex-direction: column;
  }
}
